<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_login.css') }}">
    <title>Admin Login</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <!-- <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form> -->
          <H3><b>GMart Admin Login</b></H3>
          <br>
          <form class="login-form" method="post" action="/admin_login">
            <input type="text" placeholder="Username" name="username" id="username"/>
            <input type="password" placeholder="Password" name="password" id="password"/>
            <button type="submit">Login</button>
            
          </form>
        </div>
      </div>
</body>
</html>