<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Product in {{ category_name }}</title>
</head>
<style>
    .table {
      padding: 20px;
    }
  </style>
<body>
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="120" height="40" class="d-inline-block align-top" alt="">
            GMART Customer
        </a>
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">HomePage</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer_logout">Logout</a>
            </li>
        </ul>
    </nav>
<br>
  <h2 class="text-center">Products in {{ category_name }}</h2>

  <div class="product-list" style="padding: 1.5%;">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Unit</th>
          <th>Quantity</th>
          <th></th> <!-- Empty header for Add to Cart button -->
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>Rs. {{ product[3] }}</td>
            <td>{{ product[4] }}</td>
            <form action="{{ url_for('add_to_cart', product_id=product[0]) }}" method="post">
            <td><input type="number" name="quantity" min="1" value="1"></td>
            <td><button class="btn btn-primary">Add to Cart</button></td>
          </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
  {% endblock %}
  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
